# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.apk
*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-services.json

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# env files (can opt-in for committing if needed)
.env
#expo 환경서 env.local 파일 인식불가

# vercel
.vercel

# IDE
.idea/

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# documentation (local only)
error.md
weather.md
swagger.md
pr양식.md